@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: foodFont; /* set name */
  src: url(assets/fonts/food-font-menu/FoodMenuDemoRegular-BLrM8.otf); /* url of the font */
}

:root {
  --primary-color: #f9f4e7;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.foodFont {
  font-family: foodFont;
}